@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
html{scroll-behavior: smooth;
}
 
/* :target {
  scroll-margin-top: .8em;
} */
.container{
 width: 100%;
 height: 100%;
 position: relative;
 background-color: rgb(219, 216, 216);
 display: flex;
 flex-direction: column;
 overflow: hidden;
 text-align: justify;
}
.header{
    width: 100%;
    height: 40rem;
    position: relative;
    display: flex;
    object-fit: cover;
    overflow: hidden;
}
.header img{
    position: absolute;
    width: 100%;
    height: 100%;
    animation: scale 10s infinite alternate ease-in-out;
    object-fit: cover;
}
.toggle{
    z-index: 100;
    background-image: url(./images/moon.png);
    background-size: contain;
    background-color: #ffffff33;
    height: 30px;
    width: 30px;
    cursor: pointer;
    right: 8rem;
    top: 2rem;
    position: fixed;
    border-radius: 3px;
}
.toggle.nocturn{
    background-image: url(./images/sun.png);
    background-color: #ffffffdd;
}
.container.nocturn{
    background-color: #000000;
}
.container.nocturn p{
    color: white;
}

@keyframes scale {
    0%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
.profile{
    position: absolute;
    color: #fff;
    top: 50%;
    right: 10rem;
}
.profile h1{
    font-size: 2.5rem;
}
.profile p{
    color:#fff;
    font-size: 1.5rem;
    width: 100%;
}
.menu{
    position: absolute;
    color: #fff;
    z-index: 9;
    float: left;
    background-color: #e75105;
    width: 460px;
    height: 40rem;
    padding: 30px;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    transform: translateX(-500px);
    transition: .5s;
}
.menu.active{
    transform: translateX(0);
    transition: .5s;
}
.menu ul{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    color: #fff;
    width: 100%;
    height: 100%;
}
.menu ul li{
    font-size: 3.5rem;
    list-style: none;
    color: #fff;
    width: 80%;
    transition: .5s;
}
.menu ul li a{
    text-decoration: none;
    color: #fff;
}
.menu ul li:hover{
    padding: 1px 2px;
    border: none;
    text-decoration:underline;  
}
.btn-hamb{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float:right;
    right: 2rem;
    top: 2rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    z-index: 99;
}
.line{
    background-color: white;
    height: 5px;
    width: 3rem;
    transition: all .5s;
}
.line.a.active{
    transform: rotate(-45deg) translate(-18px, 13px) ;
    transition: all .5s;
 }
.line.b.active{
    display: none;
    transition: all .5s;
 }
.line.c.active{
    transform: rotate(45deg) translate(-16px, -10px);
    transition: all .5s;
}
.about{
    height: 600px;
    margin-top: 60px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}
.about h1{
    font-size: 3.5rem;
    color: #e75105;
}
.about p{
    margin-top: 30px;
    font-size: 2rem;
    text-align:center;
    justify-content: center;
    width: 90%;
}
.techno{
    height: 800px;
    margin-top: 250px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}
.techno h1{
    font-size: 3.5rem;
    color: #e75105;
}
.tecContainer{
    margin-top: 60px;
    margin-bottom: 60px;
}
.techno img{
    height: 200px;
    width: 200px;
}
.techno p{
    margin-top: 30px;
    font-size: 2rem;
    text-align:center;
    justify-content: center;
    width: 70%;
}
.projects{
    height: 800px;
    width: 100%;
    margin-top: 150px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.projects h1{
    font-size: 3.5rem;
    color: #e75105;
}
.content-projects{
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.project{
    width: 25rem;
}
.project img{
    width: 100%;
}
.contact{
    height: 800px;
    margin-top: 60px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.contact.nocturn{
    background-color: gray;
}
.contact h1{
    font-size: 3.5rem;
    color: #e75105;
}
.contactContent{
    display: flex;
    margin-top: 80px;
    gap: 2rem;
}
article{
    margin-left: 4rem;
}
article:hover{
    transform: scale(1.2);
   transition: all 0.5s ease-in-out;
}
article img{
    width: 5rem;
}
.footer{
    border-top: 1px solid gray;
    text-align: center;
    color: gray;
}
.arrow{
    font-size: 4rem;
    color: #000000aa;
    letter-spacing: .2rem;
    transform: rotate(-90deg);
    animation: pisca .7s infinite ease-in-out alternate;
    align-self: center;
    border: none;
     background-color: transparent;
    cursor: pointer;
}
.arrow a{
    text-decoration: none;
    color: #000000aa;
    background-color: #ffffff33;
    height: 9rem;
    width: 2px;
    border-radius: 5px;
}
@keyframes pisca {
    to{
        opacity: 0.3;
        transform: translateY(-1rem) rotate(-90deg);
        background-color: transparent;
    }
}

/*anima*/

[data-anima]{
    opacity: 0;
    transition: .7s;
}
[data-anima="left"]{
    transform: translate(-550px,0);
}
[data-anima="right"]{
    transform: translate(550px,0);
}
[data-anima].play{
    opacity: 1;
    transform: translate(0,0);
}

@media screen and (max-width:768px) {
    .profile{
        top: 50%;
        right: 7rem;
    }
    .profile h1{
        font-size: 1.5rem;
    }
    .profile p{
        font-size: 1.2rem;
    }
    .about{
        height: 400px;
    }
    .about h1{
        font-size: 3rem;
    }
    .about p{
        font-size: 1.5rem;
    }
    .menu{
        width: 300px;
        height: 40rem;
        padding: 30px;
        border-bottom-right-radius: 50%;
        border-top-right-radius: 50%;
    }
    .menu ul{
        color: #fff;
        width: 100%;
        height: 100%;
    }
    .menu ul li{
        font-size: 2rem; 
    }
    .techno{
        height: 600px;
        margin-top: 250px;
        text-align: center;
        align-items: center;
    }
    .techno h1{
        font-size: 3rem;
    }
    .tecContainer{
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .techno img{
        height: 100px;
        width: 100px;
    }
    .techno p{
        margin-top: 30px;
        font-size: 1.5rem;
    }
    .projects{
        width: 100%;
        margin-top: 150px;
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .projects h1{
        font-size: 3rem;
    }
    .content-projects{
        width: 100%;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .project{
        width: 80%;
    }
    .contact{
        height: 600px;
        margin-top:80rem;      
    }
    .contact h1{
        font-size: 3rem;
    }
    .contactContent{
        display: flex;
        margin-top: 80px;
        gap: 1rem;
    }
    article{
        margin-left: 3rem;
    } 
    article img{
        width: 3rem;
    }
    .arrow{
        font-size: 2rem;
    }

}
@media screen and (max-width:414px) {
    .header{
        width: 100%;
        height: 100vh;
    }
    .profile{
        top: 50%;
        right: 2rem;
    }
    .profile h1{
        font-size: 1rem;
    }
    .profile p{
        font-size: 1rem;
    }
    .about{
        height: 400px;
    }
    .about h1{
        font-size: 2rem;
    }
    .about p{
        font-size: 1.1rem;
    }
    .menu{
        width: 100%;
        height: 100%;
        padding: 30px;
        border-bottom-right-radius: 50%;
        border-top-right-radius: 50%;
    }
    .btn-hamb{
        right: 2rem;
        top: 2rem;
        width: 3rem;
        height: 2rem;
        cursor: pointer;
        z-index: 99;
    }
    .line{
        background-color: white;
        height: 4px;
        width: 2rem;
        transition: all .5s;
    }
    .techno{
        height: 600px;
        margin-top: 250px;
        text-align: center;
        align-items: center;
    }
    .techno h1{
        font-size: 2.5rem;
    }
    .tecContainer{
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .techno img{
        height: 150px;
        width: 100px;
    }
    .techno p{
        margin-top: 30px;
        font-size: 1.1rem;
    }
    .projects{
        width: 100%;
        margin-top: 150px;
    }
    .projects h1{
        font-size: 2rem;
    }
    .content-projects{
        width: 100%;

        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .project{
        width: 80%;
    }
    .contact{
        height: 600px;
        margin-top:60rem;      
    }
    .contact h1{
        font-size: 2rem;
    }
    .contactContent{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /* flex-direction: column; */
        margin-top: 80px;
        gap: 4rem;
    }
    article{
        margin-left: .5rem;
    } 
    article p{
        font-size: .8rem;
    }
    article img{
        width: 5rem;
    }
    .arrow{
        font-size: 2rem;
    }

}
